#title,h1 {
	font-weight: bold;
	font-size: 200%;
}

#header-chicken {
	font-weight: bold;
	background-color: lightpink;
}

#header-beef {
	font-weight: bold;
	background-color: red;
}

#header-sushi {
	font-weight: bold;
	background-color: yellow;
}

