h1 {
	font-weight: bold;
}

.chicken {
	font-weight: bold;
	background-color: lightpink;
}

.beef {
	font-weight: bold;
	background-color: red;
}

.sushi {
	font-weight: bold;
	background-color: yellow;
}