#title {
	font-weight: bold;
	font-size: 200%;
}

#header-chicken {
	font-weight: bold;
	background-color: lightpink;
}

#header-beef {
	font-weight: bold;
	background-color: red;
}

#header-sushi {
	font-weight: bold;
	background-color: yellow;
}

div {
	background-color: lightgray;
	box-shadow: 5px 5px 5px gray;
}

